# .gitignore
/coverage
/build

# Ignore environment variables
.env

# Ignore IDE specific files
.idea/
*.log
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn
*.bak
*.bak.*
*.tmp
*.tmp.*
*.DS_Store
